.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: .5em;
  //grid-template-areas: ". . ." ". . .";
}

.options{
  input{
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

}
